global
    log stdout format raw local0
defaults
    mode tcp
    timeout connect 5s
    timeout client 1h
    timeout server 1h
frontend placeholder
    bind 127.0.0.1:9999
    default_backend sshd_tunnel
backend sshd_tunnel
    server local 127.0.0.1:2222
